extends layout
 
block content
	div.container
		div.page-header
			h1 Sugar Monitor
				small  
					i Stay on track
		div.row
			div.span3
				div#navbar
					h3 Menu
					ul
						li.active
							i.icon-home  
							a(href="#top") Home
						li 
							i.icon-book    
							a(href="#result") Quick Reports
								
						li
							i.icon-cogs  
							a(href="#setting") Settings
			div.span9	
				include prompt_section
				include result_section
				include setting_section
			