doctype
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
  //<![endif]
  head
    title= title
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1") 
    link(rel='stylesheet',type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet',type='text/css', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet',type='text/css', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet',type='text/css', href='/stylesheets/style.css')
  body(style="display:none")
    span#top
    include header
    
    block content
    
    include footer