section
	div.hero-unit#sugarPrompt
		h1#greetings Hi 
		br
		h3 Its 
			span.btn-group(id="check_time_button")
				button#checkTimeSelect(class="btn btn-large btn-info")
				button(class="btn dropdown-toggle btn-large btn-info", data-toggle="dropdown")
					span.caret

				ul.dropdown-menu
					li
						li
							a(tabindex="-1", href="#", title="Before Breakfest") Before Breakfest
						li
							a(tabindex="-1", href="#", title="After Breakefest") After Breakefest
						li
							a(tabindex="-1", href="#", title="Before Lunch") Before Lunch
						li
							a(tabindex="-1", href="#", title="After Lunch") After Lunch
						li
							a(tabindex="-1", href="#", title="Before Dinner") Before Dinner
						li
							a(tabindex="-1", href="#", title="After Dinner") After Dinner
						li
							a(tabindex="-1", href="#", title="Before Sleep") Before Sleep
						li
							a(tabindex="-1", href="#", title="After Sleep") After Sleep
			
			i.icon-time 
		h3 Your sugar level is: 
			input#mySugarLevelInput(type="text",maxlength="4")
			small
				span.add-on  mmol/L
		br
		button#commitLevel(class="btn btn-success btn-large") Checked!
		
		