section#result
	div.hero-unit	
		h1 Results
		ul.nav.nav-pills
			li.active
				a(href="#") Today
			li
				a(href="#") Weekly
			li
				a(href="#") Monthly
		h3#now
		table.table
			tr
				th Time
				th Level
				th Insulin
			tr
				td Before Breakefest
				td 5.8
				td 2
			tr
				td After Breakefest
				td 7.8
				td None
			tr
				td Before Lunch
				td 9.1
				td 12