section#result
	div.top
		a(href="") Top  
			i.icon-double-angle-up

	div.hero-unit	
		h1
			i.icon-book 
				| Quick Reports
		ul.nav.nav-pills
			li.active
				a(href="", data-toggle="tab") Today
			li
				a(href="", data-toggle="tab") Weekly
			li
				a(href="", data-toggle="tab") Statistics
		h3#now
		table.table#levelsTable
			tr
				th Time
				th Level
				th Insulin