.container{
	/*font-size:18px;
	margin-top:20px;*/
}
#check_time_button{
	margin-right:10px;
	margin-left:8px;
	position: relative;
	top:-3px;
}

#mySugarLevelInput{
	width:80%;
	font-size: 32px;
	padding:19px;
	height:40px;
	border-radius: 8px;

}

section {
	/*border: 1px solid #9b8994;*/
	padding:5px 5px;
}
@media (max-width: 768px) {
.affix {
    position: relative;
    
}
#hi{
	margin-bottom:40;
}

#navbar ul{
	list-style-type: none;
	font-size: 24px;
}